.cart-buttons span{
    margin: 0 20px;

}
.cart-buttons button{
    padding: 5px 20px;
    border: none;
    background:  #dd4308;
    color: white;
}
.cart-btn-details{
    margin-top: 20px;
}
@media (max-width: 921px) {
    .cart-buttons button{
        padding: 5px 15px;
    }
    .product img {
        height: 150px;
    }
    .product-title{
        font-size: 16px;
        height: 35px;
    }
}